#videoList li{
    display: flex;
    padding: 1px 0;
    align-items: center;
}

#videoList li>span{
    padding-right: 10px;
    width: 30px;
    text-align: right;
}
#videoList li div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#videoList li div span{
    margin:3px;
}

#videoList li.current{
    background-color: antiquewhite;
}
#videoList img{
    object-fit: cover;
    object-position: center;
    height: 66px;
    width: 119px;
}

#playlistForm{
    height: 80px;
}

body{
    max-width: 1200px;
}

#player{
    display: flex;
    justify-content: center;
    align-items: center;
}

#load-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid rgba(0, 255, 255, 0.2); 
    border-top-color: rgba(0, 255, 255, 1);
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
