#videoList li{
    display: flex;
    border-radius: 0.75rem;
}

#videoList li:hover{
    background-color: #f0f0f0;
}

#videoList li>span{
    padding-right: 0.625rem;
    width: 2.5rem;
    text-align: right;
    align-self: center;
}

#videoList li div{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2px 0 0 0.625rem;
    width: 67%;
    font-size: 1rem;
    font-weight: bold;
}

#videoList .channel-title-and-view-count{
    font-size: 0.75rem;
}

.channel-title-and-view-count{
    color: gray;
    margin-top: 0.375rem;
}

#videoList li.current{
    background-color: #e0e8f5;
}

#video-info span:first-child{
    font-weight: bold;
    font-size: 1.25rem;
}

#videoList img{
    object-fit: cover;
    object-position: center;
    width: 23%;
    border-radius: 0.375rem;
}

body{
    max-width: 800px;
}


#load-circle {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    border: 0.5rem solid rgba(0, 255, 255, 0.2); 
    border-top-color: rgba(0, 255, 255, 1);
    animation: rotate 1s linear infinite;
}

button{
    border: solid 1px black;
}

.form-control {
    border-color: #999;
}

#player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    max-width: 100%;
    aspect-ratio: 16/9;
    height: calc(100% * 9 / 16);
    border-radius: 0.375rem;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
  html { font-size: 10px; } /* スマホで少し小さく */
}

