#videoList li{
    display: flex;
    border-radius: 0.75rem;
}

#videoList li>span{
    width: 2.4rem;
    text-align: center;
    align-self: center;
    color: #666;
}

#videoList li div{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2px 0 0 0.625rem;
    width: 67%;
    font-size: 1rem;
    font-weight: bold;
}

#videoList .channel-title-and-view-count{
    font-size: 0.75rem;
}

.channel-title-and-view-count{
    color: #666;
    margin-top: 0.375rem;
}

#videoList li.current{
    background-color: #e0e8f5;
}

#video-info span:first-child{
    font-weight: bold;
    font-size: 1.25rem;
}

#videoList img{
    object-fit: cover;
    object-position: center;
    width: 23%;
    border-radius: 0.375rem;
}

body{
    max-width:800px;
}

button{
    border: solid 1px black;
}

.form-control {
    border-color: #999;
}

#player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 10;
    background-color: white;
    width: 105%;
    height: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#load-circle {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    border: 0.5rem solid rgba(0, 255, 255, 0.2); 
    border-top-color: rgba(0, 255, 255, 1);
    animation: rotate 1s linear infinite;
}

.error{
    color: red;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
  html { font-size: 10px; } 
  body {max-width: 100vw;}
  #videoList{
    padding-right: 2px;
  }
}

@media (hover: none) {
    .btn:hover{
        background-color: transparent;
    }
    .btn-outline-primary:hover{
        color: #0d6efd;
    }
    .btn-outline-dark:hover{
        color:black;
    }
}

@media (hover:hover){
    #videoList li:hover{
        background-color: #f0f0f0;
    }
}