#videoList li{
    display: flex;
    border-radius: 12px;
}

#videoList li:hover{
    background-color: #f0f0f0;
}

#videoList li>span{
    padding-right: 10px;
    padding-left: 2px;
    width: 30px;
    text-align: right;
    align-self: center;
}
#videoList li div{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2px 0 0 10px;
    width: 80%;
    font-size: 15px;
    font-weight: bold;
}

.channel-title-and-view-count{
    color: gray;
    font-size: 12px;
    margin-top: 6px;
}

#videoList li.current{
    background-color: #e0e8f5;
}

#videoList img{
    object-fit: cover;
    object-position: center;
    width: 23%;
    border-radius: 6px;
}

body{
    max-width: 800px;
}

#player{
    display: flex;
    justify-content: center;
    align-items: center;
}

#load-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid rgba(0, 255, 255, 0.2); 
    border-top-color: rgba(0, 255, 255, 1);
    animation: rotate 1s linear infinite;
}

button{
    border: solid 1px black;
}

.form-control {
    border-color: #999;
}

#playlistTitle {
    margin-right: 640px;
}

#player {
    width: 640px;
    height: 360px;
    border-radius: 6px;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
